# Quanti gerado no Google Collab

In [1]:
import numpy as np
import pandas as pd

In [2]:
import os

caminho_dos_arquivos = './'
# Lista de arquivos CSV no diretório
arquivos_csv = [f for f in os.listdir(caminho_dos_arquivos) if f.endswith('.csv')]

# Criar uma lista vazia para armazenar os DataFrames
dados_fundos = []

# Iterar sobre os arquivos CSV e carregá-los
for arquivo in sorted(arquivos_csv):  # Ordenar por nome de arquivo para garantir a ordem correta dos dias
    caminho_completo = os.path.join(caminho_dos_arquivos, arquivo)
    
    # Carregar o CSV em um DataFrame
    df = pd.read_csv(caminho_completo)
    
    
    # Adicionar o DataFrame à lista
    dados_fundos.append(df)

# Concatenar todos os DataFrames em um único DataFrame
dados_concatenados = pd.concat(dados_fundos, ignore_index=True)

KeyboardInterrupt:

In [35]:
dados_concatenados

,ISIN,AuM Fund,AuM Fund Date,AuM Share Class,AuM Share Class Date,Bid NAV,Bid NAV Date,Ask NAV,Ask NAV Date,Valuation NAV,...,FE Total Return NAV,FE Total Return NAV Date,Amount of Shares Redeemed Fund,Amount of Shares Redeemed Share Class,Amount of Shares Subscribed Fund,Amount of Shares Subscribed Share Class,Number of Shares Redeemed Fund,Number of Shares Redeemed Share Class,Number of Shares Subscribed Fund,Number of Shares Subscribed Share Class
0,LU0602537226,1.004964e+08,2024-05-31,1.931318e+07,2024-05-31,NaN,NaN,NaN,NaN,13.2173,...,13.2173,2024-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IE00B3Q9WN89,1.844495e+08,2024-04-30,2.553235e+07,2022-01-31,NaN,NaN,NaN,NaN,14.8900,...,14.8900,2024-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,LU0529382367,1.025686e+08,2024-05-30,5.680526e+07,2024-05-30,NaN,NaN,NaN,NaN,9660.9800,...,9660.9800,2024-05-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LU0622426806,4.472222e+08,2024-05-31,4.419970e+07,2024-05-31,NaN,NaN,NaN,NaN,NaN,...,32.2634,2024-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,LU0624261797,4.472222e+08,2024-05-31,2.247353e+07,2024-05-31,NaN,NaN,NaN,NaN,NaN,...,40.2100,2024-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2257949,IE0009AP1390,2.165813e+09,2024-06-28,2.364293e+04,2024-06-28,NaN,NaN,NaN,NaN,NaN,...,12.1505,2024-06-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2257950,IE000FL2SDR4,2.732275e+08,2024-06-27,1.092657e+08,2024-06-28,NaN,NaN,NaN,NaN,1.0000,...,1.0711,2024-06-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2257951,IE000IM4K4K2,3.760255e+06,2024-06-28,3.760255e+06,2024-06-28,NaN,NaN,NaN,NaN,37.6000,...,37.6000,2024-06-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2257952,FR0014008R11,2.130766e+07,2024-06-27,8.461954e+04,2024-06-27,NaN,NaN,NaN,NaN,19.2000,...,19.2000,2024-06-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2257953,IE000BF4EX42,2.610014e+09,2024-06-28,2.769793e+08,2024-06-28,NaN,NaN,NaN,NaN,NaN,...,11.7347,2024-06-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
dados_concatenados.columns

Index(['ISIN', 'AuM Fund', 'AuM Fund Date', 'AuM Share Class',
       'AuM Share Class Date', 'Bid NAV', 'Bid NAV Date', 'Ask NAV',
       'Ask NAV Date', 'Valuation NAV', 'Valuation NAV Date',
       'Transaction NAV', 'Transaction NAV Date', 'NoS Fund Date',
       'NoS Share Class', 'NoS Share Class Date', 'NoS Fund', 'FE Bid',
       'FE Bid Date', 'FE Offer', 'FE Offer Date', 'FE NAV', 'FE NAV Date',
       'FE Generic NAV', 'FE Generic NAV Date', 'FE AUM Fund Date',
       'FE AUM Share Class', 'FE AUM Share Class Date', 'FE NOS Fund',
       'FE NOS Fund Date', 'FE NOS Share Class', 'FE NOS Share Class Date',
       'Citi Code', 'Fund Code', 'Dynamic Currency', 'FE AUM Fund', 'FE Mid',
       'FE Mid Date', 'FE Total Return NAV', 'FE Total Return NAV Date',
       'Amount of Shares Redeemed Fund',
       'Amount of Shares Redeemed Share Class',
       'Amount of Shares Subscribed Fund',
       'Amount of Shares Subscribed Share Class',
       'Number of Shares Redeemed Fund',
       'Number of Shares Redeemed Share Class',
       'Number of Shares Subscribed Fund',
       'Number of Shares Subscribed Share Class'],
      dtype='object')

In [37]:
dados_concatenados = dados_concatenados.dropna(subset=["ISIN"])

In [38]:
df1 = dados_concatenados[["ISIN","Valuation NAV","Valuation NAV Date"]].sort_values(by=["ISIN","Valuation NAV Date"])
df2 = dados_concatenados[["ISIN","FE Bid",'FE Bid Date']].sort_values(by=["ISIN","FE Bid Date"])
df3 = dados_concatenados[["ISIN","FE Generic NAV","FE Generic NAV Date"]].sort_values(by=["ISIN","FE Generic NAV Date"])
df4 = dados_concatenados[["ISIN","FE NAV","FE NAV Date"]].sort_values(by=["ISIN","FE NAV Date"])
df5 = dados_concatenados[["ISIN","Transaction NAV","Transaction NAV Date"]].sort_values(by=["ISIN","Transaction NAV Date"])
fields = ["Valuation NAV","FE BID","FE Generic NAV","FE NAV","Transaction NAV"]
df1

                 ISIN  Valuation NAV Valuation NAV Date
85857    990000002459         254.66         2024-05-29
207340   990000002459         255.54         2024-05-30
308181   990000002459         255.96         2024-05-31
414235   990000002459         256.12         2024-06-03
519739   990000002459         255.02         2024-06-04
...               ...            ...                ...
2229195  ZAE000249843         100.00         2024-06-28
1707009  ZZ00AB0ED4 0            NaN                NaN
954243   ZZ00AB5QQ5 0            NaN                NaN
1572905  ZZ00AB5QQ5 0            NaN                NaN
1795634  ZZ00AB5QQ5 0            NaN                NaN

[2087197 rows x 3 columns]

In [39]:
#df1['mudanca_valor_ativo'] = df1.groupby('ISIN')['Valuation NAV'].diff()

In [41]:
ldf = [df1,df2,df3,df4,df5]

In [42]:
col_names = ["ISIN","data_valor_antigo","data_valor_novo","campo","valor antigo","valor novo" ]
new_df = pd.DataFrame(columns=col_names)

In [48]:
for j in range(n - 1):
        row = df.iloc[j]
        next_row = df.iloc[j + 1]
        new_df = new_df.append({
            "ISIN": row["ISIN"],
            "campo": fields[i],
            "data_valor_antigo": row["data"],  # Supondo que a data esteja na coluna 'data'
            "data_valor_novo": next_row["data"],
            "valor_antigo": row["valor"],  # Supondo que o valor esteja na coluna 'valor'
            "valor_novo": next_row["valor"]
        }, ignore_index=True)

new_df

IndexError: iloc cannot enlarge its target object

In [ ]:
# Calcular as mudanças diárias para a coluna 'valor_ativo', por exemplo
dados_concatenados['mudanca_valor_ativo'] = dados_concatenados.groupby('ISIN')['valor_ativo'].diff()

# Filtrar apenas as linhas onde houveram mudanças
mudancas_diarias = dados_concatenados[dados_concatenados['mudanca_valor_ativo'].notnull()]

# Mostrar as primeiras linhas do resultado
print(mudancas_diarias.head())

# Se desejar salvar as mudanças em um novo arquivo CSV para análise
mudancas_diarias.to_csv('mudancas_diarias_fundos.csv', index=False)